{% extends 'dashboard/learner/base.html' %}


{% block body %}
  <div class="container-fluid">
     <div class="row mt-3 mx-5">
        <div class="col-md-2"></div>
         <div class="col-sm-push-4 col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    List of Taken Quiz
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    
                    {% include 'dashboard/learner/_header.html' with active='taken' %}
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Quiz</th>
                          <th>Topic</th>
                          <th>Score</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for taken_quiz in taken_quizzes %}
                          <tr>
                            <td class="align-middle">{{ taken_quiz.quiz.name }}</td>
                            <td class="align-middle">{{ taken_quiz.quiz.course.get_html_badge }}</td>
                            <td class="align-middle">{{ taken_quiz.score }}</td>
                            <td class="text-right">
                                <a href="{% url 'takenquiz_delete' taken_quiz.pk %}" class="btn btn-primary">
                                    Retake quiz
                                </a>
                            </td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any quiz yet.</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
         <div class="col-md-2"></div>
     </div>
  </div>
{% endblock body %}
