{% extends 'dashboard/instructor/base.html' %}

{% load static %}
{% block body %}
    <link href="{% static 'css/MyCourse-style.css' %}" rel="stylesheet">

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            <div class="lesson-list">
                <!-- Container 1-->


            </div>
        </div>
    </div>
    </div>

{% endblock %}

