{% extends 'dashboard/instructor/base.html' %}

{% load static %}
{% block body %}
<link href="{% static 'css/MyCourse-style.css' %}" rel="stylesheet">

 <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            <div class="lesson-list">
                <!-- Container 1-->
                <div class="Container1">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 1: Introduction to Computer Programming</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                        
                    </div>
                </div>
                <div></div>
                <!-- Container 2-->
                <div class="Container2">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 2: Python and its Syntax</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                        
                    </div>

                </div>
                <div></div>
                <!-- Container 3-->
                <div class="Container3">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 3: Variables and Data Types</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                        
                    </div>
                </div>
                <!-- Container 4-->
                <div class="Container4">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 4: Numbers and Operators</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                        
                    </div>
                </div>
                <div></div>
                <!-- Container 5-->
                <div class="Container5">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 5: User Input</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                        
                    </div>
                </div>
                <div></div>
                <!-- Container 6-->
                <div class="Container6">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 6: Conditional Statements</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                        
                    </div>
                </div>
                <!-- Container 7-->
                <div class="Container7">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 7: Loops</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                <div></div>
                <!-- Container 8-->
                <div class="Container8">
                    <div class="Rectangle"></div>
                    <div class="Course-Python">
                        <img id="Course-Cover" src="{% static 'OnlineLearningSystem\FigmaProjectImages\course-cover.jpg' %}">
                        <img id="Python-Logo" src="{% static 'OnlineLearningSystem\FigmaProjectImages\python-logo.png' %}">
                        <p id="Intro">Lesson 8: Arrays</p>
                        <a href="#">
                        <div class="BtnVisit">
                            <p id="txt-visit">
                                Visit Course
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>  

{% endblock %}

