{% load static %}
<link href="{% static 'css/kye.css' %}" rel="stylesheet">
</style>
<style type="text/css">
    #bg {
        background-color: rgba(0, 0, 0, .25); /* Tint color */
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

{% include 'nav.html' %}

<body id="bg" style="background-image: url('{% static "OnlineLearningSystem\FigmaProjectImages\login_bg.jpg" %}');">
<div class="container-fluid">
    <div class="row" style="padding-top: 300px">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="filter"></div>
                <div class="container bg-transparent text-center " style="top:-165px;">
                    <img src="https://img.icons8.com/color/48/000000/s-key.png" width="30" height="30" alt="">
                    <span class="navbar-brand mb-0 h1 text-light">
              Snakelet
              </span>
                </div>

                <div class="container bg-light" style="top:100px;">
                    <center><h3 class="font-weight-bold" style="color: black">Login now to grow your python skills!</h3>
                    </center>
                    <hr>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <label class="text-dark font-weight-bold">Username</label><br>
                        <input type="text" name="username" required="Fill Username" style="background-color: white"><br>
                        <label class="text-dark font-weight-bold">Password</label><br>
                        <input type="password" name="password" required="Fill Password" style="background-color: white"><br>
                        <button class="bg-success">Sign in</button>
                        <hr>
                        <center><small class="text-left">Not sure how to sign up? <a
                                class="text-success font-weight-bold" href="{% url 'lsign' %}">Register here</a>
                        </small></center>
                        <br>
                    </form>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <div class="messages">
                                {% for message in messages %}
                                    <a class="alert alert-success" style="color:red;"> {{ message }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
</body>